{% extends "index.html" %}
{% load static %}
{% block contenido %}

<!-- albumes -->
<div class="featured pad" id="featuredalbum">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>Nuestros Albumes</h2>
		</div>
		<!-- featured album elements -->
		<div class="featured-element">
			<div class="row">
				{% if lista_albums %}
					{% for a in lista_albums %}
					<div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- imagen -->
								<img class="img-responsive" src={{a.imagenAlbum}} alt="" width="400" height="400" />
								<!-- descripcion -->
								<p><a style="color: white" href="/proyecto/albumes/{{a.id}}">{{a.descripcionAlbum}}</a></p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/albumes/{{a.id}}">{{a.nombreAlbum}}</a></h4>
								<!-- horizontal line -->
								<hr />
								<!-- some responce from social medial or web likes -->
								<p>Artista: <a href="/proyecto/artistas/{{a.artistaAlbum.id}}">{{a.artistaAlbum}}</a></p>
								<p>Estilo: <a href="/proyecto/estilos/{{a.estiloAlbum.id}}">{{a.estiloAlbum}}<!--</a> --> </p>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<p>No hay albumes creados.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}