{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block contenido %}
{% if cancion %}
<!-- featured abbum -->
<div class="featured pad" id="artistas">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>{{cancion.nombreCancion}}</h2>
		</div>
		<!-- featured album elements -->
		<div class="featured-element">
			<div class="row">
					<div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- image -->
								<img class="img-responsive" src="{% static cancion.artistaCancion.imagenArtista %}"  alt="{{cancion.artistaCancion.imagenArtista}}" width="400" height="400" />
								<!-- paragraph -->
								<p>{{cancion.artistaCancion.descripcionArtista}}</p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/artistas/{{a.id}}">{{cancion.artistaCancion.nombreArtista}}</a></h4>
                                <p>{% trans "Artista" %}</p>
                                <!-- horizontal line -->
								<hr />
								<!-- some responce from social medial or web likes -->
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- image -->
								<img class="img-responsive" src={{cancion.albumCancion.imagenAlbum}} alt="" width="400" height="400" />
								<!-- paragraph -->
								<p>{{cancion.albumCancion.descripcionAlbum}}</p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/albumes/{{cancion.albumCancion.id}}">{{cancion.albumCancion.nombreAlbum}}</a></h4>
                                <p>{% trans "Álbum" %}</p>
                                <!-- horizontal line -->
								<hr />
								<!-- some responce from social medial or web likes -->
							</div>
						</div>
                    </div>
                    <div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- image -->
								<img class="img-responsive" src={{cancion.estiloCancion.imagenEstilo}} alt="" width="400" height="400" />
								<!-- paragraph -->
								<p>{{cancion.estiloCancion.descripcionEstilo}}</p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/estilos/{{cancion.estiloCancion.id}}">{{cancion.estiloCancion.nombreEstilo}}</a></h4>
                                <p>{% trans "Estilo" %}</p>
                                <!-- horizontal line -->
								<hr />
								<!-- some responce from social medial or web likes -->
							</div>
						</div>
					</div>
						<iframe width="1200" height="500" src="https://www.youtube.com/embed/{{cancion.videoCancion}}" frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
						allowfullscreen></iframe>
					
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}