{% extends "index.html" %}
{% load static %}
{% block contenido %}
{% if album %}
<!-- featured abbum -->
<div class="featured pad" id="featuredalbum">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>{{album.nombreAlbum}}</h2>
		</div>
		<!-- featured album elements -->
		<div class="featured-element">
			<ul>
                {% if canciones %}
					{% for c in canciones %}
					    <li>{{c.numeroAlbum}}) <a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></li>
					{% endfor %}
				{% else %}
					<p>No hay canciones creadas en este album.</p>
				{% endif %}
            </ul>
		</div>
	</div>
</div>
<!-- features end -->

<!-- call to action -->
<div class="cta parallax-one pad">
	<div class="container">
		<!-- cta element -->
		<div class="cta-element ">
			<div class="row">
				<div class="col-md-9 col-sm-8">
					<!-- heading -->
					<h3>Melodi, A Fully Rock Album Pro</h3>
					<!-- paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim sectetur adipiscing elit, sed do eiusmod tempoad minim
						veniam consequat.</p>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="cta-btn text-center">
						<!-- purchase now button -->
						<a href="#" class="btn btn-default btn-lg">Download Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ cta end -->
{% endif %}
{% endblock %}