{% extends "index.html" %}
{% load static %}
{% block contenido %}
{% if album %}

<!-- hero play list -->
<div class="hero-playlist">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<!-- music album image -->
			<div class="figure">
				<!-- image -->
				<img class="img-responsive" src={{album.imagenAlbum}} alt="" width="600"/>
			</div>
			<!-- album details -->
			<div class="album-details">
				<!-- title -->
				<h4>{{album.nombreAlbum}}</h4>
				<!-- composed by -->
				<h5>By <a href="/proyecto/artistas/{{album.artistaAlbum.id}}">{{album.artistaAlbum}}</a></h5>
				<!-- paragraph -->
				<p>{{album.descripcionAlbum}}</p>
				<!-- button -->
				<a href="#" class="btn btn-lg btn-theme" id="playNowBtn"><i class="fa fa-play"></i>&nbsp; POR HACER</a>
			</div>
		</div>
		<!-- featured album elements -->
		<div class="canciones-album">
			<ul>
				{% if canciones %}
					{% for c in canciones %}
						<li>{{c.numeroAlbum}}) <a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></li>
					{% endfor %}
				{% else %}
					<p>No hay canciones creadas en este album.</p>
				{% endif %}
				</ul>
		</div>
	</div>
	
</div>

<!-- call to action -->
<div class="cta parallax-one pad">
	<div class="container">
		<!-- cta element -->
		<div class="cta-element ">
			<div class="row">
				<div class="col-md-9 col-sm-8">
					<!-- heading -->
					<h3>Melodi, A Fully Rock Album Pro</h3>
					<!-- paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim sectetur adipiscing elit, sed do eiusmod tempoad minim
						veniam consequat.</p>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="cta-btn text-center">
						<!-- purchase now button -->
						<a href="#" class="btn btn-default btn-lg">Download Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ cta end -->
{% endif %}
{% endblock %}