{% extends "index.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}
{% block contenido %}
{% if estilo %}
<!-- artista -->
<div class="featured pad" id="artista">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>{{estilo.nombreEstilo}}</h2>
		</div>
		<!-- featured album elements -->
		<div class="featured-element">
			<div class="row">
				{% if albumes %}
					{% for a in albumes %}
					<div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- image -->
								<img class="img-responsive" src={{a.imagenAlbum}} alt="" width="400" height="400" />
								<!-- paragraph -->
								<p>{{a.descripcionAlbum}}</p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/albumes/{{a.id}}">{{a.nombreAlbum}}</a></h4>
								<p>{% trans "Artista" %}: <a href="/proyecto/artistas/{{a.artistaAlbum.id}}">{{a.artistaAlbum}}<!--</a> --> </p>
								<!-- horizontal line -->
								<hr />
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<p>No hay albumes creados.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endif %}
{% endblock %}