{% extends "index.html" %}
{% load static %}
{% block contenido %}
{% if album %}

<!-- Hero block area -->
<div id="latestalbum" class="hero pad">
	<div class="container">
		<!-- hero content -->
		<div class="hero-content ">
			<!-- heading -->
			<h2>{{album.nombreAlbum}}</h2>
			<hr>
		</div>
		<!-- hero play list -->
		<div class="hero-playlist">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<!-- music album image -->
					<div class="figure">
						<!-- image -->
						<img class="img-responsive" src={{album.imagenAlbum}} alt=""  width="600"/>
					</div>
					<div class="album-details">
						<!-- title -->
						<h4>{{album.nombreAlbum}}</h4>
						<!-- composed by -->
						<h5>By <a href="/proyecto/artistas/{{album.artistaAlbum.id}}">{{album.artistaAlbum}}</a></h5>
						<!-- paragraph -->
						<p>{{album.descripcionAlbum}}</p>
						<!-- button -->
						<a href="#" class="btn btn-lg btn-theme" id="playNowBtn"><i class="fa fa-play"></i>&nbsp; POR HACER</a>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<!-- play list -->
					<div class="playlist-content">
						{% if canciones %}
						<ul class="list-unstyled">
							{% for c in canciones %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4>{{c.nombreCancion}}</h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
										<strong>Link</strong>: <a href="{{c.videoCancion}}" target="_blank">link de la canci&oacute;n</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
								<div class="clearfix"></div>
							</li>
							{% endfor %}
						</ul>
						{% else %}
							<p>No hay canciones creadas en este album.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ hero end -->

<!-- call to action -->
<div class="cta parallax-one pad">
	<div class="container">
		<!-- cta element -->
		<div class="cta-element ">
			<div class="row">
				<div class="col-md-9 col-sm-8">
					<!-- heading -->
					<h3>Melodi, A Fully Rock Album Pro</h3>
					<!-- paragraph -->
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
						labore et dolore magna aliqua. Ut enim sectetur adipiscing elit, sed do eiusmod tempoad minim
						veniam consequat.</p>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="cta-btn text-center">
						<!-- purchase now button -->
						<a href="#" class="btn btn-default btn-lg">Download Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--/ cta end -->
{% endif %}
{% endblock %}