{% extends "index.html" %}
{% load static %}
{% block contenido %}

<div class="about" id="team">
    <div class="default-heading">
        <!-- heading -->
        <h2>Quienes somos?</h2>
    </div>
    <!-- our team -->
    <div class="team">
        <div class="container">
            <!-- Team Member's Details -->
            <div class="team-content">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member  delay-one">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <span class="left"><img src="{% static 'img/MikelG.jpg'%}" alt="example graphic" width="250" height="300" /></span>
                                <!-- Hover block -->
                                <div class="social text-center">
                                    <p>Diseñador web y especialista en el lenguaje Java. Fundador de la página web y profesional especialista en analítica web</p>
                                </div>
                            </div>
                            <!-- Member Details -->
                            <h3>Mikel Gómez</h3>
                            <span class="designation">Diseñador Web</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member  delay-two">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <span class="left"><img src="{% static 'img/Diego.jpeg'%}" alt="example graphic" width="250" height="300" /></span>
                                <!-- Hover block -->
                                <div class="social text-center">
                                    <p>Diseñador Web especializado en Python y diseñador gráfico freelance. Apasionado del Marketing de la creación de páginas web funcionales.</p>
                                </div>
                            </div>
                            <!-- Member Details -->
                            <h3>Diego Rojo</h3>
                            <span class="designation">Diseñador Web</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member  delay-three">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <span class="center"><img src="{% static 'img/Mikel.jpg'%}" alt="example graphic" width="250" height="300" /></span>
                                <!-- Hover block -->
                                <div class="social text-center">
                                    <p>Diseñador web licenciado en telecomunicaciones y especialista en programación en JavaScript </p>
                                </div>
                            </div>
                            <!-- Member Details -->
                            <h3>Mikel De La Torre</h3>
                            <span class="designation">Diseñador Web</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member  delay-four">
                            <!-- Image Hover Block -->
                            <div class="member-img">
                                <!-- Image  -->
                                <span class="left"><img src="{% static 'img/Jokin.jpg'%}" alt="example graphic" width="350" height="300" /></span>
                                <!-- Hover block -->
                                <div class="social text-center">
                                    <p>Diseñador web especialista en telemarketing y licenciado en Comunicación y Dirección de proyectos web</p>
                                </div>
                            </div>
                            <!-- Member Details -->
                            <h3>Jokin Egia</h3>
                            <span class="designation">Diseñador Web</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}