{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block contenido %}

<!-- albumes -->
<div class="featured pad" id="featuredalbum">
	<div class="container">
		<!-- default heading -->
		<div class="default-heading">
			<!-- heading -->
			<h2>{% trans "NUESTROS ESTILOS" %}</h2>
		</div>
		<!-- featured album elements -->
		<div class="featured-element">
			<div class="row">
				{% if estilos %}
					{% for e in estilos %}
					<div class="col-md-4 col-sm-6">
						<!-- featured item -->
						<div class="featured-item ">
							<!-- image container -->
							<div class="figure">
								<!-- imagen -->
								<img class="img-responsive" src={{e.imagenEstilo}} width="400" height="400"  alt="Portada del estilo {{e.nombreEstilo}}" />
								<!-- descripcion -->
								<p>{{e.descripcionEstilo}}</p>
							</div>
							<!-- featured information -->
							<div class="featured-item-info">
								<!-- featured title -->
								<h4><a href="/proyecto/estilos/{{e.id}}">{{e.nombreEstilo}}</a></h4>
								<hr />
								<p>{{e.descripcionEstilo}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				{% else %}
					<p>No hay estilos creados.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}