{% extends "index.html" %}
{% load static %}
{% block contenido %}

<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>Ultimas Canciones</h2>
            <hr>
            <!-- paragraph -->
            <p>Tenemos las mejores <strong class="theme-color"><a href="/proyecto/ranking">canciones</a></strong> y los mejores <strong
                    class="theme-color"><a href="/proyecto/albumes">artistas</a></strong>.</p>
        </div>

        {% if estilos %}
        {% for e in estilos %}
        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- music album image -->
                    <div class="figure">
                        <!-- image -->
                        <img class="img-responsive" src={{e.imagenEstilo}} alt="" />
                    </div>
                    <!-- album details -->
                    <div class="album-details">
                        <!-- title -->
                        <h4><a href="/proyecto/estilos/{{e.id}}">{{e.nombreEstilo}}</a></h4>
                        <!-- paragraph -->
                        <p>{{e.descripcionEstilo}}</p>
                        <!-- button -->
                        <!--<a href="#" class="btn btn-lg btn-theme" id="playNowBtn2"><i class="fa fa-play"></i>&nbsp; Aqui algo</a>-->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
					<!-- play list -->
					<div class="playlist-content">
                        {% if e.id == 1 %}
						<ul class="list-unstyled">
                            {% for c in lista1 %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
						</ul>
						{% elif e.id == 2 %}
                        <ul class="list-unstyled">
                            {% for c in lista2 %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% elif e.id == 3 %}
                        <ul class="list-unstyled">
                            {% for c in lista3 %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% elif e.id == 4 %}
                        <ul class="list-unstyled">
                            {% for c in lista4 %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% elif e.id == 5 %}
                        <ul class="list-unstyled">
                            {% for c in lista5 %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><a href="/proyecto/canciones/{{c.id}}">{{c.nombreCancion}}</a></h4>
									<p><strong>Album</strong>: <a href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<a href="#"><i class="fa fa-play"></i></a>
									<a href="#"><i class="fa fa-pause"></i></a>
								</div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
                
            </div>
        </div>
        {% endfor %}
		{% else %}
			<p>No hay estilos creados</p>
		{% endif %}
    </div>
</div>

{% endblock %}