{% extends "index.html" %}
{% load static %}
{% block contenido %}

<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>Ultimas Canciones</h2>
            <hr>
            <!-- paragraph -->
            <p>Tenemos las mejores <strong class="theme-color"><a href="/proyecto/ranking">canciones</a></strong> y los mejores <strong
                    class="theme-color"><a href="/proyecto/albumes">artistas</a></strong>.</p>
        </div>

        {% if estilos %}
        {% for e in estilos %}
        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- music album image -->
                    <div class="figure">
                        <!-- image -->
                        <img class="img-responsive" src={{e.imagenEstilo}} alt="" />
                    </div>
                    <!-- album details -->
                    <div class="album-details">
                        <!-- title -->
                        <h4><a href="/proyecto/estilos/{{e.id}}">{{e.nombreEstilo}}</a></h4>
                        <!-- paragraph -->
                        <p>{{e.descripcionEstilo}}</p>
                        <!-- button -->
                        <!--<a href="#" class="btn btn-lg btn-theme" id="playNowBtn2"><i class="fa fa-play"></i>&nbsp; Aqui algo</a>-->
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
					<!-- play list -->
					<div class="playlist-content">
						<ul class="list-unstyled">
							{% for c in cancionesPorEstilo %}
							{% if c.estiloCancion == e %}
							<li class="playlist-number">
								<!-- song information -->
								<div class="song-info">
									<!-- song title -->
									<h4><u><a style="color:black" href="/proyecto/canciones/{{c.id}}" >{{c.nombreCancion}}</a></u></h4>
									<p style="color:blue"><strong>Album</strong>: <a style="color:black" href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>Estilo</strong>: <a style="color:black" href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>Artista</strong>: <a style="color:black" href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a></p>
								</div>
								<!-- music icon -->
								<div class="music-icon">
									<i class="fa fa-play"></i>
									<i class="fa fa-pause"></i>
								</div>
                                <div class="clearfix"></div>
							</li>
							{% endif %}
                            {% endfor %}
						</ul>
					</div>
				</div>
                
            </div>
        </div>
        {% endfor %}
		{% else %}
			<p>No hay estilos creados</p>
		{% endif %}
    </div>
</div>

{% endblock %}