{% extends "index.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block js %}
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/effects.js' %}"></script>
    <script src="{% static 'js/jquery.qtip-1.0.0-rc3.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}

{% block contenido %}

<div id="latestalbum" class="hero pad">
    <div class="container">
        <!-- hero content -->
        <div class="hero-content ">
            <!-- heading -->
            <h2>TOP 100</h2>
            <hr>
            <!-- paragraph -->
            <p>{% trans "Aquí encontrarás las mejores canciones" %}</p>
        </div>

        <!-- hero play list -->
        <div class="hero-playlist">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <!-- music album image -->
                    <div class="figure">
                        <!-- image -->
                        <img class="img-responsive" src="{% static 'img/ranking/topLogo.jpg'%}" alt="" width="800"/>
                    </div>
                    <!-- album details -->
                    <div class="album-details">
                        <!-- title -->
                        <h4><a href="#">{% trans "LISTA TOP100" %}</a></h4>
                        <!-- paragraph -->
                        <p>{% trans "En esta lista encontraras todas las canciones que se encuentran en el top 100 de canciones." %}</p>
                        
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="songs">
                        <h1 class="content-subhead">{% trans "Listado de canciones" %}</h1>
                        {% if canciones %}
                            {% for c in canciones %}
                                <section class="song">
                                    <header class="song-header">
                                        <h4 class="song-title"><a href="{% url 'detailCancion' c.id %}" style= "color:black">{{c.nombreCancion}}</a></h4>
                                        <p class="song-meta">{{c.numeroRanking}}</p>
                                        
                                    </header>
                                    <div class="song-description">
                                        <p style= "color:blue"><strong>{% trans "Álbum" %}</strong>: <a style= "color:black" href="/proyecto/albumes/{{c.albumCancion.id}}">{{c.albumCancion.nombreAlbum}}</a> &nbsp;|&nbsp; 
										<strong>{% trans "Estilo" %}</strong>: <a style= "color:black" href="/proyecto/estilos/{{c.estiloCancion.id}}">{{c.estiloCancion.nombreEstilo}}</a> &nbsp;|&nbsp; 
										<strong>{% trans "Artista" %}</strong>: <a style= "color:black" href="/proyecto/artistas/{{c.artistaCancion.id}}">{{c.artistaCancion.nombreArtista}}</a>
                                    </div>
            
                                </section>
                            {% endfor %}
            
                        {% else %}
                            <section class="song">
                                <header class="song-header">
                                    <h2 class="song-title">No hay canciones creadas.</h2>
                                    <p class="song-meta">No hay canciones creadas.</p>
                
                
                                </header>
                                <div class="song-description">
                                    <p>No hay canciones creadas.</p>
                                </div>
                            </section>
                        {% endif %}
                    </div>
				</div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}